apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: nginx:stable-alpine
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: 32Mi
              cpu: 50m
            limits:
              memory: 64Mi
              cpu: 100m
          volumeMounts:
            - name: site
              mountPath: /usr/share/nginx/html
      volumes:
        - name: site
          configMap:
            name: frontend-site
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-site
  namespace: app
data:
  index.html: |
    <!doctype html>
    <html>
    <head>
    <meta charset="utf-8" />
    <title>Demo Frontend</title>
    </head>
    <body>
    <h1>Demo Frontend</h1>
    <div id="root"></div>
    <script>
    async function ping(){
      try{
        const r = await fetch('http://api.local/api/hello');
        const j = await r.json();
        document.getElementById('root').innerText = JSON.stringify(j);
      }catch(e){document.getElementById('root').innerText = 'API call failed: '+e}
    }
    ping();
    </script>
    </body>
    </html>

