prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    ruleSelector: {}
    retention: 1d
    resources:
      requests:
        memory: 512Mi
        cpu: 250m
      limits:
        memory: 1.5Gi
        cpu: 1000m

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 200m
  sidecar:
    dashboards:
      enabled: true
    datasources:
      enabled: true

ingress:
  enabled: false

alertmanager:
  enabled: true
  alertmanagerSpec:
    resources:
      requests:
        memory: 64Mi
        cpu: 50m
      limits:
        memory: 128Mi
        cpu: 100m

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false

prometheusOperator:
  createCustomResource: true
  rbacEnable: true

